:root {
	color-scheme: dark;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
	background: #444444;
}

::-webkit-scrollbar-thumb:hover {
	background: #068AAA;
}

/*::-webkit-scrollbar-button:single-button {
	background-color: #1A1A1A;
	height: 10px;
	width: 10px;
}*/

* {
	-webkit-user-drag: none;
	user-select: none;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	grid-template-columns: 1fr 1fr;

	font-family: "Open Sans", sans-serif;
	background-color: #202020;
	color: white;
	overflow: hidden;

	width: 100vw;
	height: 100vh;
}

.hidden {
	display: none !important;
}

#mainContainer {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 2;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(0, 1fr) auto;

	padding: 10px 10px 0 10px;
}

#searchContainer {
	grid-row-start: 1;
	grid-column-start: 1;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 40px 1fr;
}

#searchBox {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6px 24px 6px;
}

#searchInput {
	grid-row-start: 1;
	grid-row-end: 4;

	border: none;
	border-radius: 100px;
	padding: 0 40px 0 16px;
	font-size: 10pt;
	background-color: #1A1A1A;
	color: white;
	font-size: 14px;
	transition: outline 100ms ease-out;
	outline: #1A1A1A 0px solid;
}

#searchInput:focus {
	outline: #068AAA 2px solid;
}

#searchBoxSeparator {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;

	background-color: #444444;
	width: 1px;
	margin-left: -36px;
}

#searchButton {
	grid-row-start: 1;
	grid-row-end: 4;

	border: none;
	outline: none;
	height: 100%;
	color: #BBB;
	margin-left: -40px;
	background: #444444;
	border-radius: 0 50% 50% 0;
	cursor: pointer;
}

#searchFilterContainer {
	grid-row-start: 2;
	display: flex;
	align-items: center;
}

#searchFilterContainer button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0 2px;
	padding: 6px 12px;
	border-radius: 50px;
	background-color: #1A1A1A;
}

#searchFilterContainer button.active {
	background-color: white;
	color: black;
}

#searchFilterContainer p {
	text-align: center;
}

#searchFilterText {
	padding: 0 8px;
}

.searchResults {
	grid-row-start: 3;

	overflow-y: auto;
	overflow-x: hidden;
	min-width: 0;
	min-height: 0;
}

.searchResult {
	display: grid;
	grid-template-columns: auto auto 1fr;
	height: 80px;
}

.songSearchResult {
	grid-template-rows: 1fr 20px 20px 20px 1fr;
}

.albumSearchResult {
	grid-template-rows: 1fr 20px 20px 20px 1fr;
}

.artistSearchResult {
	grid-template-rows: 1fr 20px 20px 20px 1fr;
}

.searchResult:not(:last-child) {
	border-bottom: 1px solid #444;
}

.searchResult .songArt,
.searchResult .albumArt,
.searchResult .artistImage,
.searchResult .songArtHoverPlayButton {
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;

	aspect-ratio: 1 / 1;
	height: calc(100% - 8px * 2);
	padding: 8px;
	cursor: pointer;
	border-radius: 20px;
}

.searchResult:hover .songArt,
.searchResult:hover .albumArt,
.searchResult:hover .artistImage {
	filter: brightness(30%);
}

.searchResult .songArtHoverPlayButton {
	z-index: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.searchResult .songArtHoverPlayButton svg {
	width: 70%;
	height: 70%;

	fill: #FFFFFF88;
}

.searchResult:hover .songArtHoverPlayButton {
	display: flex;
}

.searchResult p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: fit-content;
}

.searchResult .songName {
	grid-row-start: 2;
	grid-column-start: 2;

	font-weight: bolder;
	cursor: pointer;
}

.searchResult .songArtist {
	grid-row-start: 3;
	grid-column-start: 2;
}

.searchResult .songAlbum {
	grid-row-start: 4;
	grid-column-start: 2;

	color: #AAA;
}

.searchResult .artistName {
	grid-row-start: 2;
	grid-column-start: 2;

	font-weight: bolder;
	cursor: pointer;
	width: fit-content;
}

.searchResult .artistLabel {
	grid-row-start: 3;
	grid-column-start: 2;

	color: #AAA;
	font-style: italic;
	overflow: visible;
}

.searchResult .albumName {
	grid-row-start: 2;
	grid-column-start: 2;

	font-weight: bolder;
	cursor: pointer;
	width: fit-content;
}

.searchResult .albumArtist {
	grid-row-start: 3;
	grid-column-start: 2;

	width: fit-content;
}

.searchResult .albumLabel {
	grid-row-start: 4;
	grid-column-start: 2;

	width: fit-content;
	color: #AAA;
	font-style: italic;
	overflow: visible;
}

.searchResult .songArtist:hover,
.searchResult .songAlbum:hover {
	text-decoration: underline;
	cursor: pointer;
}
